 
.topbar {
  position:relative;
  z-index:901;
  zoom:1
}
.topbar-mail {
  color:#f60!important;
  margin-left:10px;
  margin-top:2px!important;
  float: left;
}
.mystery{position: absolute;top:9px;left: 180px;color: #333}
.mystery b{background: url(../../images/common/newicon.png);display: inline-block;width:30px;height:14px;position: relative;top:2px;margin-right: 5px;}
.mystery .mystery-open{background-position: -70px -40px;}
.mystery .mystery-close{background-position: -30px -40px;}
.topbar-inner {
  height:40px;
  width:1180px;
  margin:0 auto;
  position:relative;
  z-index:10;
 
}
.s1 .topbar-inner {
  width:980px
}
.topbar-logo-link img{width: 93px;height: 32px;} 

.topbar-logo {
  width:85px;
  height:70px;
  display:block;
  float:left;
  margin-right:35px
}
.topbar-logo-image {
  display:block;
  margin-top:11px;
  position:relative
}
.longzhu-topbar-logo .topbar-logo-image {
  display:block;
  margin-top:3px;
  position:relative;
  left:16px
}
.topbar-background {
  width:100%;
  height:40px;
  position:absolute;
  left:0;
  top:0;
  overflow:hidden;
  z-index:-1;
  background:#333
}
.topbar-border {
  display:block;
  width:100%;
  height:1px;
  position:absolute;
  left:0;
  top:69px;
  overflow:hidden;
  z-index:-1;
  background:#000
}
.topbar-nav {
  display:block;
  font-size:18px;
  padding:22px 15px 21px;
  float:left
}
.topbar-nav-text {
  color:#ddd
}
.topbar-nav-text:hover,.topbar-nav-text-hover {
  color:#f60
}
.topbar-nav-selected {
  background:#f80
}
.topbar-nav-selected .topbar-nav-text,.topbar-nav-selected .topbar-nav-text:hover {
  color:#fff
}
#topbar-game-menu.topbar-menu {
  position:relative;
  width:82px;
  height:40px;
  padding:15px 0
}
#topbar-game-menu .topbar-menu-text {
  position:absolute;
  z-index:100;
  padding:7px 15px 6px
}
#topbar-game-menu.topbar-menu-active .topbar-menu-text {
  border:#ddd solid 1px;
  border-bottom:#fff solid 1px;
  border-top:#f80 solid 2px;
  background:#fff;
  margin-top:-2px;
  margin-left:-1px
}
.topbar-menucard .topbar-menucard-tab {
  background:transparent;
  border:0
}
.topbar-menucard .topbar-menucard-tab-inner {
  display:none
}
.topbar-menu {
  float:left;
  font-size:18px;
  padding:22px 20px 21px 15px;
  *padding:18px 20px 22px;
  cursor:default
}
.topbar-menu-text {
  color:#ddd;
  position: relative;
}
.topbar-menu-text .user-lv {
  display:inline-block;
  vertical-align:middle;
  margin-right:5px
}
.topbar-menu-active .topbar-menu-text,.topbar-menu-text:hover {
  color:#f60
}
.topbar-menu-arrow {
  width:12px;
  height:6px;
  overflow:hidden;
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat;
  background-position:-32px -32px;
  display:inline-block;
  margin-left:3px;
  vertical-align:middle;
  *margin-top:0
}
.topbar-menu-active .topbar-menu-arrow {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat;
  background-position:-12px -38px;
  height:6px;
  width:12px
}
.topbar-menu-text:hover .topbar-menu-arrow {
  height:6px;
  width:12px
}
.topbar-menucard {
  background:#fff;
  border:#ddd solid 1px;
  width:100px;
  height:200px;
  position:absolute;
  z-index:100;
  border-top:0;
  padding-top:1px;
  margin-left:-1px
}
.topbar-menucard .topbar-menucard-tab {
  font-size:18px
}
.topbar-menucard .topbar-menucard-tab-inner {
  height:26px;
  padding:4px 0 10px 10px
}
.topbar-menucard-tab {
  height:54px;
  border-top:#f80 solid 2px;
  background:#fff;
  position:absolute;
  top:-54px;
  left:-1px
}
.topbar-menucard-tab .topbar-menu-text {
  color:#f80
}
.topbar-menucard-tab .topbar-menu-arrow,.topbar-menu-text:hover .topbar-menu-arrow {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) -12px -38px no-repeat
}
.topbar-menucard-content {
  position:absolute;
  width:100%;
  height:100%
}
.topbar-menucard-content .loading{
  text-align: center;
  line-height: 130px;
}
.topbar-menucard-tab-inner {
  border-left:#ddd solid 1px;
  border-right:#ddd solid 1px;
  height:21px;
  padding:9px 0 10px 10px
}
.topbar-user-menucard ,.top-new-menucard{
  width:360px!important;
  height:153px!important;
  background:#fff;
  border:#ddd solid 1px;
  border-top:2px solid #f60;
  position:absolute;
  z-index:100;
  margin-top:0
}
.topbar-user-menucard {
  height:153px!important;
}
.top-new-menucard{height: 170px!important;}
 
.topbar-user-menucard  .topbar-userinfo-arrow {
  position:absolute;
  right:20%;
  bottom:-2px;
  margin-left:-8px;
  width:0;
  height:0;
  overflow:hidden;
  border:transparent dashed 8px;
  border-bottom:#f80 solid 10px;
  display:block;
}

.topbar-user-menucard .topbar-menucard-tab {
  left:auto;
  right:-1px;
  display:none
}
.topbar-recruit-menu {
  float:right;
  padding-left:0;
  padding-right:2px;
  padding-top:16px;
  padding-bottom:13px;
  margin-left:10px;
  display:none
}
.topbar-recriut-menu-text {
  font-size:12px;
  padding:11px 9px 12px;
  display:block;
  color:#f80
}
.topbar-recruit-menu .topbar-menu-arrow {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) -12px -38px no-repeat
}
.topbar-recruit-menucard {
  background:#fff;
  border:#ddd solid 1px;
  position:absolute;
  z-index:100;
  margin-top:-13px
}
.topbar-recruit-menuitem {
  padding:11px 10px 9px;
  color:#f80;
  display:block
}
.topbar-recruit-menuitem:hover {
  background:#f5f5f5;
  color:#f80
}
.topbar-recruit-menucard .topbar-menucard-tab {
  background:#f5f5f5
}
.topbar-recruit-menucard-out .topbar-menucard-tab {
  background:#fff
}
.topbar-recruit-menucard .topbar-menucard-tab-inner {
  padding-right:0;
  padding-top:0;
  padding-left:0
}
.topbar-recruit-menucard .topbar-recriut-menu-text {
  padding:9px 0 12px 9px
}
.topbar-app-menu {
  float:right;
  padding-left:10px;
  padding-right:15px;
  padding-top:16px;
  padding-bottom:22px;
  margin-left:10px;
  position:relative
}
.topbar-feed-app-text {
  font-size:12px;
  padding:11px 9px 12px;
  display:block;
  color:#f80
}
.topbar-menu-app-icon {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat 0 0;
  background-position:0 0;
  width:13px;
  height:22px;
  margin-top:10px;
  display:inline-block;
  *display:inline;
  *zoom:1
}


.topbar-feed-menu {
  float:right;
  padding-left:0;
  padding-right:2px;
  padding-top:16px;
  padding-bottom:13px;
  margin-left:10px;
  margin-right:10px
}
.topbar-feed-menu-text {
  font-size:12px;
  padding:11px 9px 12px;
  display:block;
  color:#f80
}
.topbar-feed-menu .topbar-menu-arrow {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) -12px -38px no-repeat
}
.topbar-feed-menucard{
  background:#fff;
  border:#ddd solid 1px;
  border-top:2px solid #f60;
  position:absolute;
  z-index:100;
  margin-top:0;
  top:70px!important
}
.topbar-history-menucard {
  height: 131px; 
  width: 300px; 
  background:#fff; 
  border:1px solid #e8e8e8;
  border-top:2px solid #f60;
  position:absolute;
  z-index:100;
  margin-top:0;
  visibility: visible;
  left: -105px;
  top: 40px; 
  display: block;
 
}
.topbar-feed-menucard .topbar-menucard-tab {
  left:auto;
  background:none;
  width:0!important;
  border:none;
  right:106px
}
.topbar-history-menucard .topbar-menucard-tab {
  left:auto;
  background:none;
  right:119px;
  border:none;
  width:61px!important
}
.topbar-feed-menucard .topbar-menucard-tab,.topbar-history-menucard .topbar-menucard-tab {
  display:none
}
.topbar-feed-menucard-out .topbar-menucard-tab {
  background:#fff
}
.topbar-feed-menucard .topbar-menucard-tab-inner {
  padding-right:0;
  padding-top:0;
  padding-left:0
}
.topbar-feed-menucard .topbar-feed-menu-text {
  padding:9px 0 6px 9px
}
.topbar-feed-text,.topbar-his-text {
  margin-top:73px;
  font-family:'Microsoft YaHei';
  font-size:14px;
  color:#333;
  text-align:center;
  display:block
}
.topbar-feed-qq-icon {
  left:33px;
  top:5px;
  width:65px;
  height:0;
  padding-top:17px;
  display:block;
  position:absolute;
  overflow:hidden
}
.topbar-feed-box-corner-1,.topbar-feed-box-corner-2,.topbar-feed-box-corner-3,.topbar-feed-box-corner-4 {
  width:1px;
  height:1px;
  overflow:hidden;
  background:#fff;
  position:absolute
}
.topbar-feed-box-corner-1 {
  right:0;
  top:0
}
.topbar-feed-box-corner-2 {
  right:0;
  bottom:0
}
.topbar-feed-box-corner-3 {
  left:0;
  bottom:0
}
.topbar-feed-box-corner-4 {
  left:0;
  top:0
}
.topbar-feed-empty {
  margin-top:92px
}
.topbar-feed-loading,.topbar-his-loading {
  margin-top:38px
}
.topbar-feed-item,.topbar-his-item {
  height:59px;
  border-bottom:1px solid #ddd;
  display:block;
  position:relative
}
.topbar-his-item:nth-last-child(1){
  border-bottom: transparent;
}
.topbar-feed-item:hover,.topbar-his-item:hover {
  background:#f5f5f5
}
.topbar-feed-item-thumb,.topbar-his-item-thumb {
  top:10px;
  left:9px;
  width:40px;
  height:40px;
  display:block;
  position:absolute
}
.topbar-feed-item-avatar,.topbar-his-item-avatar {
  width:100%;
  height:100%;
  background:#ddd;
  display:block
}
.topbar-feed-item-liveicon,.topbar-his-item-liveicon {
  bottom:0;
  left:0;
  width:100%;
  height:14px;
  background:url(http://r.plures.net/pt/images/topbar/live.gif) 50% 0 no-repeat;
  display:block;
  position:absolute
}
.topbar-feed-item-inner,.topbar-his-item-inner {
  padding-top:9px;
  padding-left:60px;
  padding-right:10px;
  position:relative;
  height:60px
}
.topbar-feed-item-name,.topbar-his-item-name {
  height:21px;
  font-family:'Microsoft YaHei';
  font-size:14px;
  color:#333;
  white-space:nowrap;
  text-overflow:ellipsis;
  display:block;
  overflow:hidden
}
.topbar-feed-item-info,.topbar-his-item-info {
  height:20px;
  font-family:'Microsoft YaHei';
  font-size:12px;
  color:#999;
  display:block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden
}
.topbar-his-item-info{width: 150px;}
.topbar-feed-bottom {
  bottom:0px;
  left:0px;
  width:300px;
  height:30px;
  background:#f5f5f5;
  position:absolute;
  text-align:center
}
a.topbar-feed-bottom-link {
  padding-left:10px;
  line-height:30px;
  font-family:'Microsoft YaHei';
  font-size:12px;
  color:#f80!important;
}
.topbar-feed-bottom-link:hover {
  color:#f60;
  text-decoration:underline
}
.topbar-usercard {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%
}
.topbar-usercard .user-lv {
  position:absolute;
  top:29px;
  left:74px
}
.topbar-feed-arrow,.topbar-history-arrow {
  display:block;
  position:absolute;
  right:125px;
  top:-18px;
  width:0;
  height:0;
  overflow:hidden;
  border:transparent dashed 8px;
  border-bottom:#f80 solid 10px
}
.topbar-down-arrow {
  display:block;
  position:absolute;
  top:-18px;
  width:0;
  height:0;
  overflow:hidden;
  border:transparent dashed 8px;
  border-bottom:#f80 solid 10px;
  right:43%
}
.topbar-history-menucard .topbar-history-arrow {
  right:auto;
  left:-141px
}
.topbar-usercard-arrow {
  display:block;
  position:absolute;
  left:50%;
  top:-18px;
  margin-left:-8px;
  width:0;
  height:0;
  overflow:hidden;
  border:transparent dashed 8px;
  border-bottom:#f80 solid 10px
}
.topbar-user-footer {
  position:absolute;
  bottom:0;
  left:0;
  height:18px;
  padding:6px 0 7px;
  width:100%;
  background:#f5f5f5
}
.topbar-user-footer .ico-dot {
  display:block;
  top:5px;
  right:240px
}
.topbar-divider {
  display:block;
  float:left;
  margin:30px 20px 28px 0;
  color:#666;
  background:#666;
  height:14px;
  font-size:13px;
  width:1px;
  overflow:hidden;
  text-indent:-10px
}
.topbar-right-divider {
  display:block;
  margin:30px 0 28px;
  color:#666;
  background:#555;
  height:14px;
  font-size:13px;
  width:1px;
  overflow:hidden;
  text-indent:-10px;
  float:right
}
.topbar-subnav {
  display:block;
  float:left;
  font-size:14px;
  padding:25px 20px 24px;
  white-space:nowrap
}
.topbar-sub-nav .topbar-subnav {
  padding-left:0
}
.topbar-sub-nav .topbar-nav-text {
  color:#aaa;
  font-size:14px
}
.topbar-sub-nav .topbar-nav-text:hover {
  color:#f60;
}
.topbar-subnav .topbar-subnav-hot {
  display:inline-block;
  width:11px;
  height:11px;
  margin-left:3px;
  margin-top:-1px;
  *margin-top:2px;
  vertical-align:middle;
  background:url(http://r.plures.net/pt/images/topbar/topbar-hot-icon.png)
}
.topbar-pane-button {
  background:#f5f5f5;
  color:#f80;
  font-size:14px;
  padding:5px 0;
  position:relative;
  display:block;
  width:307px;
  text-align:center;
  border-top:none;
  text-indent:0;
  margin-top:18px
}
.topbar-pane-button:hover,.topbar-pane-button-sel {
  background:#f60;
  border:#f60 solid 1px;
  border-top:none;
  color:#fff;
  left:-1px;
  bottom:-1px
}
.topbar-pane-content {
  border:#ddd solid 1px;
  border-bottom:none;
  padding:0 9px 42px;
  height:0;
  -webkit-transition:height 1s linear;
  transition:height 1s linear;
  overflow:hidden
}
.topbar-navitem-dropdown .topbar-navitem-link:hover .topbar-pane-content {
  height:220px
}
.topbar-pane-box {
  width:290px;
  height:60px;
  margin:0 auto;
  padding-top:9px;
  display:block
}
.topbar-pane-box-img {
  width:100%;
  height:100%;
  background:#ddd;
  display:block
}
.topbar-pane-header {
  color:#999;
  font-size:12px;
  text-indent:0;
  padding:5px 0 3px;
  margin:0 9px
}
.topbar-pane-list {
  border-top:#ddd solid 1px;
  border-left:#ddd solid 1px;
  margin:0 9px;
  overflow:hidden
}
.topbar-pane-listitem {
  display:block;
  width:95px;
  font-size:12px;
  padding:6px 0 7px;
  border-right:#ddd solid 1px;
  border-bottom:#ddd solid 1px;
  text-indent:12px;
  float:left;
  color:#666
}
.topbar-pane-listitem:hover {
  background:#f5f5f5;
  color:#f60
}
.topbar-pane-listitem-new {
  display:inline-block;
  width:11px;
  height:11px;
  margin-left:3px;
  margin-top:-1px;
  *margin-top:2px;
  vertical-align:middle;
  background:url(http://r.plures.net/pt/images/topbar/topbar-new-icon.png)
}
.topbar-pane-listitem-hot {
  display:inline-block;
  width:11px;
  height:11px;
  margin-left:3px;
  margin-top:-1px;
  *margin-top:2px;
  vertical-align:middle;
  background:url(http://r.plures.net/pt/images/topbar/topbar-hot-icon.png)
}
.topbar-pane-divider {
  height:6px;
  overflow:hidden;
  margin:0 9px
}
.topbar-navitem-extend {
  font-size:14px;
  width:auto;
  padding:25px 0 21px
}
.topbar-box {
  height:26px;
  background:#333;
  border:#666 solid 1px;
 border-radius: 2px;
  position:relative
}
.topbar-box-active {
  border-color:#999
}
.topbar-box-border-left {
  height:26px;
  width:1px;
  overflow:hidden;
  background:#666;
  position:absolute;
  left:-1px;
  top:0
}
.topbar-box-border-right {
  height:26px;
  width:1px;
  overflow:hidden;
  background:#666;
  position:absolute;
  right:-1px;
  bottom:0
}
.topbar-box-active .topbar-box-border-left,.topbar-box-active .topbar-box-border-right {
  background:#999
}
.topbar-box-corner-1,.topbar-box-corner-2,.topbar-box-corner-3,.topbar-box-corner-4 {
  width:1px;
  height:1px;
  overflow:hidden;
  background:#3d3c3c;
  position:absolute
}
.topbar-box-active .topbar-box-corner-1,.topbar-box-active .topbar-box-corner-2,.topbar-box-active .topbar-box-corner-3,.topbar-box-active .topbar-box-corner-4 {
  background:#6c6c6d
}
.topbar-box-corner-1 {
  right:0;
  top:0
}
.topbar-box-corner-2 {
  right:0;
  bottom:0
}
.topbar-box-corner-3 {
  left:0;
  bottom:0
}
.topbar-box-corner-4 {
  left:0;
  top:0
}
.topbar-search {
  float:left;
  padding:22px 1px 20px;
  margin:0
}
.topbar-search-input {
  border:0;
  background:#333;
  color:#ddd;
  padding:5px 29px 4px 7px;
  width:86px;
  font-size: 12px;
  overflow:hidden
}
.topbar-search-input::-webkit-input-placeholder {
  color:#777
}
.topbar-search-input:-moz-placeholder,.topbar-search-input:-ms-input-placeholder,.label-input-label {
  color:#777
}
.topbar-search-button {
  width:19px;
  height:19px;
  overflow:hidden;
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat;
  background-position:-13px 0;
  position:absolute;
  top:4px;
  right:5px;
  border:none;
  cursor:pointer;
  display:block
}
.topbar-box-active .topbar-search-button {
  background-image:url(http://r.plures.net/pt/images/topbar/topbar-search-button-active.png)
}
.topbar-search-button:hover,.topbar-box-active .topbar-search-button:hover {
  background-image:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png);
  background-position:-32px 0;
  height:18px;
  width:18px
}
.topbar-user {
  float:right;
  height:70px;
  margin-right:10px
}
.topbar-login{position: relative;}
.topbar-loginbox {
  width:130px;
  padding-top:28px;
  height:0;
  cursor:pointer;
  margin:23px 1px 20px;
  border:0;
  background:url(http://r.plures.net/pt/images/topbar/qq-icon.png) 0 0 no-repeat
}
.topbar-loginbox:hover {
  background:url(http://r.plures.net/pt/images/topbar/qq-icon.png) 0 -32px no-repeat
}
.topbar-loginbox .topbar-box-border-left,.topbar-loginbox .topbar-box-border-right {
  display:none
}
.topbar-user-menu .topbar-menu-text {
  font-size:12px;
  padding:3px 0 6px
}
.topbar-user-menu .topbar-menu-text a {
  color:#ddd
}
.topbar-user-menu .topbar-menu-text a:hover {
  color:#f80
}
.topbar-user-menu {
  padding-left:20px;
  padding-right:10px;
  padding-top:21px;
  *padding-top:21px;
  *padding-left:15px;
  *padding-bottom:22px;
  position:relative;

}

.topbar-user-menu .ico-dot {
  top:10px;
  right:20px;
  display:block
}
.topbar-user-menu:hover .ico-dot {
  display:none
}
.topbar-right .topbar-userinfo-arrow ,.topbar-menucard-app .topbar-userinfo-arrow,.topbar-history-menucard .topbar-userinfo-arrow{
  position:absolute;
  right:20px;
  top:-18px; 
  width:0;
  height:0;
  overflow:hidden;
  border:transparent dashed 8px;
  border-bottom:#f80 solid 10px;
 
}
.topbar-menucard-app .topbar-userinfo-arrow{
  right: 60px;
}
.topbar-history-menucard .topbar-userinfo-arrow{
  right: 135px;
}
.topbar-right .topbar-feed .topbar-userinfo-arrow,.topbar-right .topbar-history .topbar-userinfo-arrow {
  bottom:-3px;
  *bottom:-4px
}
.topbar-menu-active .topbar-userinfo-arrow {
  display:block
}
.topbar-menu-active .ico-dot,.topbar-user-menucard .topbar-usercard-arrow {
  display:none
}
.topbar-qq-icon {
  padding:25px 12px 24px;
  cursor:pointer;
  color:#ddd
}
.topbar-qq-icon:hover {
  color:#f80
}
.topbar-userinfo {
  font-size:12px;
  width:80px;
  padding:5px 18px 3px 15px
}
.topbar-username {
  max-width:70px;
  height:18px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
  vertical-align:middle;
  *line-height:22px
}
.topbar-userinfo .topbar-arrow {
  top:-10px;
  left:85px
}
.topbar-usergrade {
  width:20px;
  height:19px;
  overflow:hidden;
  background:url(http://r.plures.net/pt/images/topbar/usergrade.png) no-repeat;
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
  margin-top:-3px
}
.topbar-user-menu .topbar-menu-arrow {
  margin-top:3px
}
.topbar-userinfo .topbar-navitem-link:hover {
  margin-top:-11px;
  width:132px;
  left:-25px;
  padding:0
}
.topbar-userinfo .topbar-navitem-link:hover .topbar-username {
  display:block;
  width:88px;
  padding:9px 18px 12px 24px;
  border-left:#ddd solid 1px;
  border-right:#ddd solid 1px
}
.topbar-userinfo .topbar-navitem-link:hover .topbar-arrow {
  left:110px
}
.topbar-userinfo .topbar-navitem-link:hover .topbar-usergrade {
  top:7px;
  left:10px
}
.topbar-userinfo .topbar-pane {
  left:auto;
  right:0;
  width:255px
}
.topbar-userinfo .topbar-pane-content {
  height:69px;
  padding:0;
  position:relative
}
.topbar-userinf0 .topbar-navitem-dropdown-line {
  left:1px;
  width:130px
}
.topbar-userinfo .topbar-pane-footer {
  border:#ddd solid 1px;
  border-top:none;
  height:18px;
  padding:6px 0 7px;
  background:#f5f5f5
}
.topbar-usercenter-link {
  float:left;
  color:#f60!important;
  margin-left:20px;
  margin-top: 2px;
}
.topbar-logout-button {
  float:right;
  color:#666;
  padding-right:18px;
  margin-top: 2px;
  *margin-top:-18px;
  cursor:pointer
}
.topbar-logout-button:hover {
  color:#f60
}
.topbar-useravatar {
  display:block;
  position:absolute;
  top:20px;
  left:20px
}
a.topbar-usercenter-nav {
  position:absolute;
  top:32px;
  right:20px;
  color:#f80!important;
}
.topbar-userbadge {
  width:43px;
  height:21px;
  overflow:hidden;
  position:absolute;
  background:url(http://r.plures.net/pt/images/topbar/userbadge.png) no-repeat;
  top:20px;
  left:76px
}
.topbar-userexp {
  width:30px;
  height:8px;
  background:#0394e0;
  position:absolute;
  left:1px;
  top:1px
}
.topbar-userexp-bg {
  width:99px;
  height:10px;
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png);
  background-position:0 -38px;
  position:absolute;
  left:121px;
  top:20px
}
.usercard-exp-bar {
  width:104px;
  height:8px;
  padding:1px;
  background:#fff;
  border:#ddd solid 1px;
  position:absolute;
  left:130px;
  top:31px
}
.topbar-userhelp {
  width:16px;
  height:0;
  padding-top:16px;
  overflow:hidden;
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png);
  background-position:0 -22px;
  position:absolute;
  top:28px;
  left:240px
}
.topbar-userhelp:hover {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png);
  background-position:-16px -22px;
  height:0;
  width:16px
}
.topbar-userexp-detail {
  position:absolute;
  top:51px;
  left:76px;
  color:#999
}
.topbar-userexp-num {
  color:#0394e0
}
.topbar-recruit-recommed {
  margin-right:-10px;
  display:none
}
#topbar-subnavs {
  height:70px;
  overflow:hidden
}
.topbar-logo-animation {
  width:110px;
  height:76px;
  position:absolute;
  background:url(http://r.plures.net/pt/images/topbar/logo-animation.png) -5px -2px no-repeat;
  cursor:pointer
}
:focus {
  outline:0
}
.topbar-user-information {
  color:#666;
  position:absolute;
  top:79px;
  left:0;
  width:100%;
  border-top:1px solid #f0f0f0;
  padding-bottom:3px;
  padding-top:5px
}
.topbar-user-top{width: 100%;height: 20px;}
.usercard-group {
  float:left;
  margin-left:20px;
  margin-top:6px;
  margin-right:27px;
  font-weight:normal
}
.beans{margin-top: 0px;width: 100%;}
.beans .usercard-group{width: 320px;}

.usercard-label {
  color:#999
}
.usercard-text {
  font-family:tahoma;
  margin-left:4px;
  color:#999;
  font-size:13px;
  margin-top:1px;
  position:relative;
  top:1px
}
.topchange{
  position:absolute;
  right:18px;
  bottom:-2px;
}
a.usercard-recharge {
  color:#f60!important;
  display:block;
  cursor:pointer;
  margin-bottom: 5px;
}
html .simplesidenav-nav {
  position:fixed
}
html .topbar {
  width:100%;
  height:40px;
  position:fixed;
  top:0;
  left:0;
  width:100%; 
  min-width:1300px; 
  _width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1300px?"auto":"1300px");  
 
}
.content {
  padding-top:40px
}
.slide-con li {
  width:100%
}
.inside-game-ap {
  width:100%!important;
  height:110px
}
.topbar-sub-nav,.topbar-search-wrap {
  overflow:hidden;
  height:100%;
  float:left
}
.s1 .topbar-subnav,.s1 .topbar-divider {
  display:none
}
.topbar-left {
  float:left
}
.topbar-right {
  float:right;
  position:relative;
  z-index:100
}
.topbar-right li {
  float:left
}
.topbar-feed {
  position:relative;
 
}
.topbar-r-sub {
  padding:25px 20px 24px;
  display:inline-block
}

.topbar-right a {
  color:#ddd
}
.topbar-right a:hover {
  color:#f80
}
.topbar-center {
  height:40px;
  overflow:hidden;
  position:relative
}
.ico-head {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat;
  display:inline-block;
  width:18px;
  height:18px;
  vertical-align:middle
}
.ico-feed {
  background-position:-50px -28px;
  *background-position:-50px -27px
}
a:hover .ico-feed,.topbar-menu-active .ico-feed {
  background-position:-73px -28px;
  *background-position:-73px -27px
}
.ico-history {
  background-position:-50px 0;
  *background-position:-50px 2px
}
a:hover .ico-history,.topbar-menu-active .ico-history {
  background-position:-73px 0;
  *background-position:-73px 2px
}
.ico-down {
  background-position:-50px -52px;
  height:20px
}
a:hover .ico-down,.topbar-menu-active .ico-down {
  background-position:-73px -52px
}
.topbar-download:hover .topbar-r-sub {
  color:#f80
}
.ico-login {
  background-position:-50px -101px;
  *background-position:-50px -100px
}
.topbar-login:hover .ico-login,.topbar-menu-active .ico-login {
  background-position:-73px -101px;
  *background-position:-73px -100px
}
.topbar-menu-active .topbar-r-sub,.topbar-menu-active .topbar-username {
  color:#f80
}
.has-news .ico-dot {
  display:block
}
.ico-dot {
  background:url(http://r.plures.net/pt/images/topbar/topbar-sp2.png) no-repeat -73px -79px;
  width:8px;
  height:8px;
  position:absolute;
  right:14px;
  top:24px;
  display:none
}
.topbar-line {
  width:1px;
  height:14px;
  background:#666;
  position:absolute;
  right:0;
  top:41%
}
.topbar-history {
  position:relative
}
.s1 .topbar-history {
  display:none
}
.topbar-history-left {
  width:55%;
  float:left
}
.topbar-history-right {
  width:45%;
  float:right;
  color:#999
}
.topbar-view-num {
  float:left
}
.topbar-history-empty {
  text-align:center;
  line-height:100px;
  color:#333;
  font-size:14px;
  font-family:'Microsoft YaHei'
}
.topbar-history-loading {
  color:#333;
  line-height:131px;
  text-align:center
}
.fr {
  float:right
}
#pt_ifr {
  display:none
}
.topbar-usercard .user-vip-lvl {
  position:absolute;
  left:265px;
  top:28px
}

.topbar-nav-sports-hover,.topbar-nav-shop-hover {
  color:#ddd
}
#history-has{
  background: #fff;
}
.history-status{
  width: 100%;position: absolute;bottom: 0px;left: 0;height: 16px;line-height: 16px;font-size: 12px;color: #fff;text-align: center;background: #f80;
}
.topbar .user-vip-lvl.user-vip-lvl-undefined,.topbar-user-menucard .user-vip-lvl.user-vip-lvl-undefined {
  display:none
}
.topbar-inner {
  height:40px;
  font-family:'Microsoft YaHei'
}
.topbar-background {
  height:40px
}
.topbar-border {
  top:39px;
  display:none
}
.topbar-nav {
  font-size:14px;
  padding:10px 11px;
  *padding:10px 11px 11px
}
.topbar-logo-image {
  margin-top:5px
}
#topbar-game-menu.topbar-menu {
  font-size:14px;
  padding:2px 0 0;
  width:60px
}
#topbar-game-menu .topbar-menu-text {
  padding:8px 5px
}
 .topbar-menus:hover{background: #fff;border-top:2px solid #f80;color: #F80}
.topbar-menus .topbar-menucard{display: none;}
.topbar-menus:hover .topbar-menucard{display: block;}
.topbar-menucard {
  font-family:'Microsoft YaHei';
  margin-left:-1px;
  height: 253px;
  width: 307px; 
  visibility: visible; 
  left: 0px; 
  top: 40px; 
  display: block;
}
.topbar-menucard-tab {
  height:39px;
  top:-41px;
  left:-1px;
  font-family:'Microsoft YaHei'
}
.topbar-menucard-tab-inner {
  height:19px
}
.topbar-user-menucard {
  font-family:'Microsoft YaHei';
  right:0!important;
  left:auto!important;
  top:33px;
}
.topbar-recruit-menu {
  padding-left:0;
  padding-right:1px;
  padding-top:0;
  padding-bottom:0;
  margin-left:11px;
  font-family:'Microsoft YaHei'
}
.topbar-user-menu .topbar-user-menucard{display: none;}
.topbar-user-menu:hover .topbar-user-menucard{display: block}
.topbar-recruit-menucard {
  margin-top:0
}
.topbar-recruit-menuitem {
  padding:9px 10px
}
.topbar-recharge-menu,.topbar-myroom-menu {
  float:right
}
.topbar-recharge-menu-text,.topbar-myroom-menu-text {
  font-size:12px;
  padding:11px 9px 12px;
  display:block;
  color:#f80
}
.topbar-feed-menu {
  padding-left:0;
  padding-right:1px;
  margin-left:11px;
  font-family:'Microsoft YaHei'
}
.topbar-recharge-menu,.topbar-myroom-menu {
  padding-left:0;
  padding-right:1px;
  padding-top:10px;
  padding-bottom:0;
  margin-left:11px;
  font-family:'Microsoft YaHei'
}
.topbar-feed-menu {
  *line-height:14px;
  padding-top:4px;
  padding-bottom:2px
}
.topbar-feed-menu-text {
  padding-top:6px;
  padding-bottom:10px
}
.s1 .topbar-history {
  display:block
}
.topbar-feed-menucard,.topbar-history-menucard {
  top:40px!important
}
.topbar-feed-menuitem {
  padding:9px 10px
}
 
.topbar-feed .topbar-history-menucard, .topbar-history .topbar-history-menucard{display: none;}
.topbar-feed:hover .topbar-history-menucard,.topbar-history:hover .topbar-history-menucard{display: block;}
.topbar-subnav {
  font-size:14px
}
.topbar-subnav .topbar-subnav-hot {
  margin-left:4px
}
.topbar-user {
  height:40px
}
.topbar-user-menu {
  padding-left:20px;
  padding-right:10px;
  padding-top:6px;
  *padding-top:6px;
  padding-bottom:5px;
  *padding-bottom:7px
}
.topbar-search {
  padding:8px 1px;
  margin-left:34px;
  float:left
}
.topbar-box {
  height:24px
}
.topbar-search-input {
  padding-top:3px;
  padding-bottom:2px
}
.topbar-box-border-left,.topbar-box-border-right {
  height:21px
}
.topbar-search-button {
  top:2px
}
.topbar-loginbox {
  margin:6px 1px;
  height:0
}
.topbar-recruit-recommed {
  display:block
}
.topbar-divider {
  margin:14px 10px 22px
}
.topbar-menucard .topbar-menucard-tab {
  font-size:14px
}
.topbar-menucard .topbar-menucard-tab-inner {
  height:19px;
  padding:9px 0 10px 5px
}
.topbar-logo {
  width:93px;
  height:40px;
  margin-right:7px
}
.longzhu-topbar-logo .topbar-logo-image {
  left:0;
  margin-top:15px;
  display:block
}
.topbar-inner {
  width:auto;
  padding:0 20px
}
.topbar-feed-menucard .topbar-feed-menu-text {
  padding:9px 0 12px 9px
}
#topbar-subnavs {
  height:60px
}
.topbar-right-divider {
  margin-top:15px
}
.topbar-app-menu {
  padding-top:0;
  padding-bottom:0
}
.topbar-app-menu .topbar-menu-text {
  padding-top:10px;
  padding-bottom:8px
}
.topbar-menu-app-icon {
  vertical-align:middle;
  margin-right:4px;
  margin-top:-2px
}
.topbar-menucard-app {
  margin-top:0
}
.topbar-menucard-app {
  position:absolute; 
  margin-left: -20px;
  color:#f80;
  border:1px solid #ddd;
  border-top:#f60 solid 2px;
  margin-top:0;
  *margin-top:1px;
  background:#fff;
  z-index:100;
  height: 72px;
  width: 140px;
  visibility: visible;
  top: 40px;

}
.topbar-menucard-app .topbar-menucard-tab {
  background:transparent;
  border:0
}
.topbar-menucard-app .topbar-menucard-tab-inner {
  display:none
}
.topbar-download-content a {
  text-align:center;
  display:block;
  line-height:35px;
  border-bottom:1px solid #e8e8e8;
  color:#666
}
.topbar-download-content a:hover {
  color:#f80
}
.topbar-download-content a:last-child {
  border-bottom:0
}
.topbar-menucard-app img {
  width:140px;
  height:140px
}
.topbar-menucard-app span {
  display:block;
  height:1.5em;
  overflow:hidden;
  font-size:12px
}
.topbar-menucard-app-arrow {
  width:0;
  height:0;
  display:block;
  border:transparent dashed 10px;
  border-bottom:#f80 solid 10px;
  border-width:8px 8px 10px;
  overflow:hidden;
  position:absolute;
  right:70px;
  top:-18px
}
.topbar-download {
  position:relative
}
.topbar-download .topbar-menucard-app {
  display:none;
}
.topbar-download:hover .topbar-menucard-app {
  display:block
}

.topbar-right {
  float:right;
  position:relative;
  z-index:100
}
.topbar-right li {
  float:left
}
.topbar-r-sub {
  padding:10px 20px
}
.topbar-download {
  position:relative
}
.topbar-right a:hover {
  color:#f80
}
.topbar-qq-icon {
  padding:10px 12px!important
}
.topbar-usercard-arrow {
  left:80%
}
.topbar-usercard .user-lv{width: 55px;height: 16px;text-align: center;}
.topbar-usercard .user-lv img{height: 16px;max-width: 55px;}
.has-news .ico-dot {
  top:8px
}
.topbar-line {
  top:35%
}
.topbar-menu-text .user-vip-lvl {
  margin:3px 4px 0 0
}



.user-vip-lvl {
  margin-right:3px;
  width:20px;
  height:16px;
  display:inline-block;
  vertical-align:top;
  top:1px;
  position:relative;
  background-repeat:no-repeat;
  background-position:center
}
.user-vip-lvl.user-vip-lvl-0 {
  background-image:url(http://r.plures.net/pt/imagesbin/shop/vip-noact.png)
}
.user-vip-lvl.user-vip-lvl-1 {
  background-image:url(http://r.plures.net/pt/imagesbin/shop/vip-gold.png)
}
.user-vip-lvl.user-vip-lvl-2 {
  background-image:url(../../images/room/violet-gold.png)
}
.vip-enter-msg {
  width:100%;
  height:36px;
  line-height:36px;
  color:#00a7ff;
  font-size:12px;
  background-color:#ffedad;
  border-top:1px solid #ffdd8b;
  border-bottom:1px solid #ffdd8b;
  box-shadow:0 1px 0 #fff inset
}
.vip-enter-msg.vip-style {
  text-align:center
}
.vip-enter-msg .vip-name {
  margin-right:5px;
  display:inline-block;
  max-width:130px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:middle;
  position:relative;
  top:-1px
}
.vip-enter-msg .welcome-text {
  color:#999
}
.vip-enter-msg .user-vip-lvl {
  vertical-align:sub;
  margin:0 4px 0 15px
}
.vip-enter-msg .not-vip-tips {
  float:right;
  background:#ffbc3a;
  text-align:center;
  color:#fff;
  border-radius:10px;
  width:68px;
  height:22px;
  line-height:22px;
  margin:7px 15px 0 0
}
.vip-enter-msg .not-vip-tips:hover {
  background:#ffb320
}


.tencent-popup {
  display: none
}

.tencent-popup-warp {
  width: 395px;
  height: 346px;
  border-radius: 12px;
  background: #fff;
  position: fixed;
  left: 270px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  bottom: 15px;
  z-index: 99999
}

.tencent-popup-close {
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/close-btn.png) center no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer
}

.tencent-popup-close:hover {
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/close_hover.png) center no-repeat
}

.tencent-popup-qr1 {
  position: absolute;
  top: 48px;
  left: 40px
}

.tencent-popup-qr1-img {
  width: 130px;
  height: 130px;
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/weixin_code.png) center no-repeat
}

.tencent-popup-qr1-text {
  font-size: 18px;
  color: #2d3c4e;
  width: 130px;
  letter-spacing: 1.25px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  line-height: 18px
}

.tencent-popup-qr1-text span {
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/weixin.png) center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block
}

.tencent-popup-qr2 {
  position: absolute;
  top: 48px;
  right: 40px
}

.tencent-popup-qr2-img {
  width: 130px;
  height: 130px;
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/qq_code.png) center no-repeat
}

.tencent-popup-qr2-text {
  font-size: 18px;
  color: #2d3c4e;
  width: 130px;
  letter-spacing: 1.25px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  line-height: 18px
}

.tencent-popup-qr2-text span {
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/qq.png) center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block
}

.tencent-popup-footer {
  position: absolute
}

.tencent-popup-footer-img {
  position: absolute;
  top: 244px;
  left: 60px;
  background: url(http://r.plures.net/pt/images/pt/ui/sidenav/pic.png) center no-repeat;
  width: 60px;
  height: 60px
}

.tencent-popup-footer-text {
  position: absolute;
  top: 244px;
  left: 133px;
  font-size: 18px;
  color: #42506e;
  width: 270px;
  white-space: nowrap;
  letter-spacing: 1.12px;
  line-height: 28px;
  text-align: left;
  margin-top: 3px
}

.tencent-popup-footer-text span {
  color: #36a300
}